---
import hamburgerMenu from "../assets/icons/menu.png";
import { Image } from "astro:assets";
---

<header>
    <a href="/nmamitloop/"><h2>NMAMITLOOP</h2></a>

    <div class="nav-container">
        <button class="hamburger">
            <Image
                src={hamburgerMenu}
                alt="menu"
                
                width={25}
                height={25}
            />
        </button>
        <nav>
            <a href="/nmamitloop/">Home</a>
            <a href="/nmamitloop/bus">bus Timings</a>
            <a href="/nmamitloop/teachers">Teachers</a>
            <a href="/nmamitloop/notes">Notes</a>
            <a href="/nmamitloop/#footer" class="footer-link">About</a>

            <button class="install">Install</button>
        </nav>
    </div>
</header>

<style>
    header {
        width: 100%;
        display: flex;
        padding: 1rem 5%;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(17, 21, 50);
    }

    header > h1 {
        font-size: 1.2rem;
    }

    .install {
        display: none;
        border-radius: 20px;
        background-color: rgb(119, 0, 255);
        padding: 0.35em 1.1em;
        font-weight: 600;
    }

    header nav {
        & a {
            transition: all 0.2s ease-in;
        }

        & a:hover {
            text-shadow:
                0 0 5px #fff,
                0 0 10px #fff,
                0 0 15px #fff,
                0 0 20px gold,
                0 0 35px gold,
                0 0 40px gold,
                0 0 60px gold,
                0 0 90px gold;
        }
    }

    @media (min-width: 450px) {
        header nav {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .hamburger {
            display: none;
        }
    }

    @media (max-width: 450px) {
        .nav-container {
            position: relative;

            & > nav {
                display: none;
            }

            &:focus-within {
                & > nav {
                    font-size: large;
                    font-weight: 600;
                    background-color: rgba(255, 255, 255, 0.86);
                    color: black;
                    position: absolute;
                    top: 100%;
                    right: 0;
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    border-radius: 8px;
                    align-items: center;
                    width: 200px;
                }
            }
        }
    }

    .hamburger {
        & img{
            filter: invert();
        }
        background-color: transparent;
        
    }

    .nav-container {
    }
</style>

<script>
    interface PromptEvent extends Event {
        //fake interface to shutup type error
        userChoice: {
            outcome: string;
        };
        prompt(): void;
    }

    const footerLink = document.querySelector(".footer-link");
    const footer = document.getElementById("footer");
    const installApp = document.querySelector(".install") as HTMLButtonElement;
    footerLink?.addEventListener("click", function (event) {
        event.preventDefault();

        footer?.scrollIntoView({ behavior: "smooth" });
    });

    let deferredPrompt: PromptEvent | null;
    window.addEventListener("beforeinstallprompt", (e) => {
        deferredPrompt = e as PromptEvent;
        installApp.style.display = "initial";
    });

    installApp?.addEventListener("click", async () => {
        if (deferredPrompt !== null) {
            deferredPrompt.prompt();
            const { outcome } = await deferredPrompt.userChoice;
            if (outcome === "accepted") {
                deferredPrompt = null;
            }
        }
    });
</script>
