<header>
    <a href="/nmamitloop/"><h2>NMAMITLOOP</h2></a>

    <nav>
        <a href="/nmamitloop/">Home</a>
        <a href="/nmamitloop/#footer" class="footer-link">About</a>

        <button class="install">Install</button>
    </nav>
</header>

<style>
    header {
        width: 100%;
        display: flex;
        padding: 1rem 5%;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(53, 53, 53);
    }

    header > h1 {
        font-size: 1.2rem;
    }

    header nav {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .install{
        border-radius: 20px;
        background-color:rgb(119, 0, 255);
        padding: .6em 1.2em;
        font-weight: 600;
    }
</style>

<script>
    const footerLink = document.querySelector(".footer-link");
    const footer = document.getElementById("footer");
    footerLink?.addEventListener("click", function (event) {
        event.preventDefault();

        footer?.scrollIntoView({ behavior: "smooth" });
    });
</script>
