---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />

		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/nmamitloop/icons/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/nmamitloop/icons/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/nmamitloop/icons/favicon-16x16.png"
		/>
		<link rel="manifest" href="/nmamitloop/manifest.json" />

		<meta name="theme-color" content="#050029" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<!-- <Header /> -->

		<slot />
		<Footer />

		<script>
			if ("serviceWorker" in navigator) {
				navigator.serviceWorker.register(
					"/nmamitloop/service-worker.js",
				);
			}
		</script>
	</body>
</html>

<style is:global>
	:root {
		font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
		line-height: 1.5;
		font-weight: 400;

		color-scheme: light dark;
		color: rgb(0, 0, 0);
		background-color: #ffffff;

		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
	}

	html,
	body,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0%;
		padding: 0%;
	}

	* {
		box-sizing: border-box;
	}

	body {
		width: 100vw;
		max-width: 100%;
		min-height: 100vh;
		background-color: #040811;
		color: white;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}

	/* @media (prefers-color-scheme: dark) {
    :root {
      background-color: #213547;
      color: #ffffff;
    }
    button {
      background-color: #f9f9f9;
    }
  } */

	main {
		width: 100%;
	}

	ul,
	ol,
	li {
		margin: 0;
		padding: 0;
	}

	a {
		text-decoration: none;
		font: inherit;
		color: inherit;
	}

	body::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		background-color: #040811;
	}

	body::-webkit-scrollbar {
		background-color: #040811;
		width: 8px;
	}

	body::-webkit-scrollbar-thumb {
		background-color:rgba(0, 162, 255,0.8);
		border-radius: 10px;
	}

	@media (prefers-reduced-motion) {
		* {
			transition: none;
		}
	}

	button {
		border: none;
		cursor: pointer;
	}

	ul,
	ol {
		list-style: none;
	}
</style>


<script>



 console.log(String.raw`%c
 											 __   __     __                            
                                            /  | /  |   /  |                           
 _______  _____  ____   ______  _____  ____ $$/ _$$ |_  $$ | ______   ______   ______  
/       \/     \/    \ /      \/     \/    \/  / $$   | $$ |/      \ /      \ /      \ 
$$$$$$$  $$$$$$ $$$$  |$$$$$$  $$$$$$ $$$$  $$ $$$$$$/  $$ /$$$$$$  /$$$$$$  /$$$$$$  |
$$ |  $$ $$ | $$ | $$ |/    $$ $$ | $$ | $$ $$ | $$ | __$$ $$ |  $$ $$ |  $$ $$ |  $$ |
$$ |  $$ $$ | $$ | $$ /$$$$$$$ $$ | $$ | $$ $$ | $$ |/  $$ $$ \__$$ $$ \__$$ $$ |__$$ |
$$ |  $$ $$ | $$ | $$ $$    $$ $$ | $$ | $$ $$ | $$  $$/$$ $$    $$/$$    $$/$$    $$/ 
$$/   $$/$$/  $$/  $$/ $$$$$$$/$$/  $$/  $$/$$/   $$$$/ $$/ $$$$$$/  $$$$$$/ $$$$$$$/  
                                                                             $$ |      
                                                                             $$ |      
                                                                             $$/       
 `, "color:#0066ff")

 console.info("view code here -> https://github.com/Karthik-S-Salian/nmamitloop")



</script>
