---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />

		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
		line-height: 1.5;
		font-weight: 400;

		color-scheme: light dark;
		color: rgb(0, 0, 0);
		background-color: #ffffff;

		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
	}

	html,
	body,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0%;
		padding: 0%;
	}

	* {
		box-sizing: border-box;
	}

	body {
		width: 100vw;
		max-width: 100%;
		min-height: 100vh;
		background-color: #040811;
		color: white;
	}

	button:focus,
	button:focus-visible {
		outline: 4px auto -webkit-focus-ring-color;
	}

	/* @media (prefers-color-scheme: dark) {
    :root {
      background-color: #213547;
      color: #ffffff;
    }
    button {
      background-color: #f9f9f9;
    }
  } */

	main {
		width: 100%;
	}

	ul,
	ol,
	li {
		margin: 0;
		padding: 0;
	}

	a {
		text-decoration: none;
		font: inherit;
		color: inherit;
	}

	@media(prefers-reduced-motion) {
		*{
			transition: none;
		}
	}
</style>
