---
import Layout from "./Layout.astro";

interface Props {
    title: string;
    description: string;
}

const { title,description } = Astro.props;
---

<Layout title="notes">
    <div id="root">
        <h1 class="text-center">{title}</h1>
        {description && <p class="text-center">{description}</p>}
        <main>
            <slot />
        </main>
    </div>
</Layout>

<style is:global>
    pre {
        font-family: inherit;
        font-size: 1.2em;
        padding: 1rem;
        border-radius: 5px;
        position: relative;
    }
    #root {
        width: 100%;
        height: 100%;
        padding: 1rem;
        display: flex;
        place-content: center;
        flex-direction: column;
    }

    .text-center {
        text-align: center;
    }

    main {
        flex-grow: 1;
        max-width: 900px;
        margin: 2rem auto;
    }

    .copy {
        position: absolute;
        right: 0;
        top: 0;
        padding: .6rem;
        background-color: black;
        cursor: pointer;
        font-size: .9rem;
    }

    main >h2:first-child {
        margin-top: initial;
    }

    main> h2{
        margin-top: 2rem;
        
    }
</style>

<script>
    const codeContainer = document.querySelectorAll("pre");

    codeContainer?.forEach((codeContainer) => {
        const codeBlock =  codeContainer.querySelector("code");
        const copyElement: HTMLDivElement = document.createElement("div");
        copyElement.textContent = "copy";
        copyElement.classList.add("copy");
        codeContainer.appendChild(copyElement);
        copyElement.addEventListener("click",event=>{
        navigator.clipboard.writeText(codeBlock?.textContent as string);
        })
    });
</script>
